.card__item {
    min-height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: .4s ease-in-out;
}
.card__item.rotate {
    transform: rotateY(180deg);
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}
.front {
    transform: rotateY(-180deg);
}
.back {
    transform: rotateX(0);
    cursor: pointer;
}
img {
    width: 100%;
    height: 100%;
}
.card__item.matched .front{
    opacity: 0.3;
    cursor: not-allowed;
}